.navigation-container {
    background-color: #2d545e;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navigation-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.nav-link {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    position: relative;
    opacity: 0;
    transform: translateY(10px);
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.3s;
}

.nav-link:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.brand-name {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin: 0 20px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.7s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
