.footer {
    background-color: #ff971d;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    height: calc(100% - 60px);
    border-radius: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    font-size: 18px;
    margin-bottom: 10px;
}

.links {
    margin-top: 10px;
}

.link {
    color: maroon;
    margin: 0 10px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
