.navigation-container {
    position:sticky;
    left:0;
    top:0;
    right:0;
    color: rgb(255, 255, 255);
    background-color: #ff971d;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 7px 7px 7px grey;
}


.navigation-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.nav-link {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    position: relative;
    opacity: 0;
    transform: translateY(10px);
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.3s;
}

.nav-link:hover {
    background-color: maroon;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.brand-name {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    margin: 0 20px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.7s ease-out forwards;
    animation-delay: 0.5s;
}

.logout{
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.logout:hover{
    background-color: maroon;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
